<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FREE ZeroBank Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.zeroBank.qa.ExtentReportListener.ExtentReporter" />
	</listeners>


	<test name="Free ZeroBank App Test Cases">
		<classes>
			<class name="com.zeroBank.qa.TestCases.HomePageTest"></class>
			<class name="com.zeroBank.qa.TestCases.LoginPageTest"></class>
			<class name="com.zeroBank.qa.TestCases.AccountSummaryTest"></class>
			<class name="com.zeroBank.qa.TestCases.AccountActivityTest"></class>
			<class name="com.zeroBank.qa.TestCases.TransferFundTest"></class>
			<class name="com.zeroBank.qa.TestCases.PayBillsTest"></class>
			<class name="com.zeroBank.qa.TestCases.MyMoneyMapTest"></class>
			<class name="com.zeroBank.qa.TestCases.OnlineStatementsTest"></class>

		</classes>
	</test>
</suite>